{% extends "index.html" %}

{% block title %} MGI - Contrato Nuevo {% endblock %}

{% block header %}
<li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a></li>
{% endblock %}

{% block content %}
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Nuevo contrato</h1>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-2">
        <!-- Page Features-->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'crear_inquilino' %}">Crear nuevo inquilino</a>
            <button type="submit">Guardar contrato</button>
        </form>
    </div>
</section>
{% endblock %}
