{% extends "index.html" %}

{% block title %} MGI - Propiedad Nueva {% endblock %}

{% block header %}
<li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a></li>
<li class="nav-item"><a class="nav-link" href="#!">Soporte</a></li>
{% endblock %}

{% block content %}
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Nueva propiedad</h1>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-2">
        <!-- Page Features-->
        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo de propiedad:</label>
                {{ form.tipo }}
            </div>
            <div class="mb-3">
                <label for="ubicacion" class="form-label">Dirección completa:</label>
                {{ form.ubicacion }}
                <div id="ubicacionHelp" class="form-text">Calle y número - Piso y departamento - Ciudad, Provincia
                    <p>(Ejemplo: Avenida Vélez Sarsfield 2314 - 13 A - Río Cuarto, Córdoba)</p></div>
            </div>
            <div class="mb-3">
                <label for="habitaciones" class="form-label">Cantidad de habitaciones:</label>
                {{ form.habitaciones }}
            </div>
            <div class="mb-3">
                <label for="baños" class="form-label">Cantidad de baños:</label>
                {{ form.baños }}
            </div>
            <div class="mb-3">
                <label for="balcon" class="form-label">Posee balcón:</label>
                {{ form.balcon }}
            </div>
            <div class="mb-3">
                <label for="garage" class="form-label">Posee garage:</label>
                {{ form.garage }}
            </div>
            <div class="mb-3">
                <label for="pileta" class="form-label">Posee pileta:</label>
                {{ form.pileta }}
            </div>
            <div class="mb-3">
                <label for="valor_alquiler" class="form-label">Valor de alquiler:</label>
                {{ form.valor_alquiler }}
                <div id="alquilerHelp" class="form-text">Dejar vacío si no está en alquiler</div>
            </div>
            <div class="mb-3">
                <label for="valor_venta" class="form-label">Valor de venta:</label>
                {{ form.valor_venta }}
                <div id="ventaHelp" class="form-text">Dejar vacío si no está en venta</div>
            </div>
            <div class="mb-3">
                <label for="expensas" class="form-label">Costo promedio de expensas:</label>
                {{ form.expensas }}
                <div id="expensasHelp" class="form-text">Dejar vacío si no se tiene información</div>
            </div>
            <div class="mb-3">
                <label for="estado" class="form-label">Estado actual de la propiedad:</label>
                {{ form.estado }}
            </div>
            <a href="{% url 'crear_propietario' %}">Crear nuevo propietario</a>
            <button type="submit" class="btn btn-primary">Cargar propiedad</button>
            </form>
    </div>
</section>
{% endblock %}
