{% extends "index.html" %}

{% block title %} MGI - Éxito {% endblock %}

{% block header %}
<li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a></li>
<li class="nav-item"><a class="nav-link" href="#!">Soporte</a></li>
{% endblock %}

{% block content %}
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                {% if objeto == 'registrousuario' %}
                    <h1 class="display-5 fw-bold">Usuario registrado con éxito!</h1>
                {% elif objeto == 'loginusuario' %}
                <h1 class="display-5 fw-bold">Login exitoso! <p>Bienvenido/a.</p></h1>
                {% elif objeto == 'propiedad' %}
                    <h1 class="display-5 fw-bold">Nueva propiedad cargada con éxito en la base de datos:</h1>
                    <h2 class="display-5">{{ propiedad.tipo|capfirst }} con ubicación en {{ propiedad.ubicacion }}</h2>
                {% elif objeto == 'propiedad_editada' %}
                    <h1 class="display-5 fw-bold">La siguiente propiedad se modificó con éxito:</h1>
                    <h2 class="display-5">{{ propiedad.tipo|capfirst }} con ubicación en {{ propiedad.ubicacion }}</h2>
                {% elif objeto == 'inquilino' %}
                    <h1 class="display-5 fw-bold">Nuevo inquilino creado con éxito en la base de datos:</h1>
                    <h2 class="display-5">{{ inquilino.nombre }} con documento {{ inquilino.documento }}</h2>
                {% elif objeto == 'propietario' %}
                    <h1 class="display-4">Nuevo propietario creado con éxito en la base de datos:</h1>
                    <h2 class="d-inline-block">{{ propietario.nombre }}, con documento {{ propietario.documento }}</h2>
                    {% if propiedades_del_propietario.count >= 1 %}
                        <h1 class="display-4">Propiedades asignadas:</h1>
                        {% for propiedad in propiedades_del_propietario %}
                        <li><h2 class="d-inline-block">{{ propiedad.tipo|capfirst }} en {{ propiedad.ubicacion }}</h2></li>
                        {% endfor %}
                        {% endif %}
                {% elif objeto == 'contrato' %}
                <h1 class="display-5 fw-bold">Nuevo contrato cargado con éxito en la base de datos:</h1>
                <h2 class="display-5">{{ contrato.propiedad }}. <p>Locatario: {{ contrato.inquilino }}</p><p>Locador: {{ contrato.propietario }}</p></h2>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endblock %}